.mv {
    background-image: url(../images/mv-bg-sp.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: rem(68);
    @include mq('md') {
        padding-top: rem(120);
        background-image: url(../images/mv-bg.jpg);
    }
}

.mv__content {
    padding-top: rem(40);
    padding-bottom: rem(400);
    text-align: center;
    font-weight: 600;
    @include mq('md') {
        padding-top: rem(224);
        padding-bottom: rem(272);
        text-align: left;
    }
}

.mv__main {
    font-size: rem(22);
    line-height: 1.5;
    letter-spacing: 0.1em;
    @include mq('md') {
        font-size: rem(32);
        line-height: 1.47;
    }
}

.mv__main .strong {
    font-size: rem(24);
    @include mq('md') {
        font-size: rem(40);
    }
}

.mv__main .small {
    font-size: rem(20);
    @include mq('md') {
        font-size: rem(32);
    }
}

.mv__lead {
    margin-top: rem(12);
    font-size: rem(14);
    line-height: calc(21 / 14);
    @include mq('md') {
        margin-top: rem(32);
        font-size: rem(22);
        line-height: calc(33 / 22);
    }
}