.voice {
    padding-top: rem(56);
    @include mq('md') {
        padding-top: rem(96);
    }
}

.voice__inner {}

.voice__heading {}

.voice__items {
    margin-top: rem(40);
    @include mq('md') {
        margin-top: rem(80);
    }
}

.voice__item {
    @include mq('md') {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.voice__item:not(:last-child) {
    margin-bottom: rem(41);
    @include mq('md') {
        margin-bottom: rem(80);
    }
}

.voice__item:nth-child(2n + 1) {
    @include mq('md') {
        flex-direction: row-reverse;
    }
}

.voice__img {
    width: 100%;
    position: relative;
    &::before {
        padding-top: 66.8656%;
        display: block;
        content: "";
    }
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
        object-position: center;
    }
    @include mq('md') {
        width: rem(450);
    }
}

.voice__content {
    margin-top: rem(24);
    @include mq('md') {
        width: calc(100% - #{rem(450)} - #{rem(95)});
    }
}

.voice__title {
    font-size: rem(18);
    font-weight: 600;
    line-height: calc(27 / 18);
    letter-spacing: 0.05em;
    @include mq('md') {
        margin-top: rem(-21);
        font-size: rem(24);
        line-height: calc(36 / 24);
        letter-spacing: 0.1em;
    }
}

.voice__text {
    margin-top: rem(9);
    line-height: calc(29/ 16);
    letter-spacing: 0.02em;
    @include mq('md') {
        margin-top: rem(20);
        line-height: 2;
        letter-spacing: 0.05em;
    }
}

.voice__info {
    margin-top: rem(11);
    font-size: rem(14);
    letter-spacing: 0.05em;
    @include mq('md') {
        text-align: right;
        margin-top: rem(17);
        font-size: rem(16);
    }
}