@charset "UTF-8";
.u-desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

/* FontFamily */
body {
  font-family: "YuMincho", "Yu Mincho", "游明朝体", "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", sans-serif;
}

/* font-weight */
/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}

@media (max-width: 375px) {
  html {
    font-size: 4.26667vw;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 1.50943vw;
  }
}

@media (min-width: 1060px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.7;
  }
}

body {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  background: #fff;
  color: #393327;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="submit"],
input[type="button"],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.btn {
  display: inline-block;
  color: #fff;
  letter-spacing: 0.05em;
  padding: 20px 33px;
  padding: 1.25rem 2.0625rem;
  background: linear-gradient(265.98deg, #8B6C3A 23.24%, #B19464 55.28%, #8B6C3A 85.32%, #8B6C3A 85.32%);
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, .16);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, .16);
  border-radius: 0.125rem;
  font-weight: 600;
  line-height: 1;
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .btn {
    padding: 1.6875rem 5.125rem 1.5625rem 4.25rem;
    -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, .16);
            box-shadow: 0px 4px 10px rgba(0, 0, 0, .16);
    border-radius: 2px;
    font-size: 1.75rem;
    letter-spacing: 0.17em;
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .btn::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 1.125rem;
    height: 1.125rem;
    margin: 0 0.625rem;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    top: 50%;
    right: 2.3125rem;
    -webkit-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
  }
}

.btn--small {
  font-size: 14px;
  font-size: 0.875rem;
  letter-spacing: 0.115em;
  padding: 12px 28px;
  padding: 0.75rem 1.75rem;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media screen and (min-width: 768px) {
  .btn--small {
    letter-spacing: 0.16em;
    font-size: 1rem;
    padding: 1.0625rem 2.5rem;
  }
}

.btn--small::before {
  display: none;
}

.drawer-menu {
  position: fixed;
  z-index: 11;
  top: 68px;
  top: 4.25rem;
  right: 0;
  background: #fff;
  text-align: center;
  width: 100%;
  max-width: 250px;
  max-width: 15.625rem;
  height: 100%;
  padding-top: 40px;
  padding-top: 2.5rem;
  -webkit-transition: visibility 0.3s ease, -webkit-transform 0.3s ease;
  transition: visibility 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, visibility 0.3s ease;
  transition: transform 0.3s ease, visibility 0.3s ease, -webkit-transform 0.3s ease;
  visibility: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
}

.drawer-menu ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.drawer-menu__link {
  text-transform: uppercase;
  font-family: "Lora", serif;
  letter-spacing: 0.1em;
  list-style-type: none;
  padding: 0;
  width: 100%;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.drawer-menu__link:last-child {
  padding-bottom: 0;
}

.drawer-menu__link a {
  display: block;
  padding: 16px 0;
  padding: 1rem 0;
  text-decoration: none;
  letter-spacing: 0.05em;
}

.drawer-menu__sns {
  width: 168px;
  width: 10.5rem;
  margin: 40px auto;
  margin: 2.5rem auto;
}

.drawer-menu__background {
  position: fixed;
  top: 68px;
  top: 4.25rem;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(139, 108, 58, .7);
  z-index: 9;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease, visibility 0.3s ease;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  visibility: hidden;
}

/* ハンバーガーメニュー押してactiveクラスを付いたら表示する */
nav.drawer-menu.active {
  visibility: visible;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

nav.drawer-menu.active + .drawer-menu__background {
  opacity: 1;
  visibility: visible;
}

.hamburger {
  display: block;
  position: fixed;
  z-index: 11;
  right: 13px;
  top: 12px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

.hamburger span {
  display: block;
  position: absolute;
  height: 2px;
  height: 0.125rem;
  left: 6px;
  background: #393327;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hamburger span:nth-child(1) {
  top: 10px;
  width: 28px;
  width: 1.75rem;
}

.hamburger span:nth-child(2) {
  top: 20px;
  width: 22px;
  width: 1.375rem;
}

.hamburger span:nth-child(3) {
  top: 30px;
  width: 15px;
  width: 0.9375rem;
}

/* ナビ開いてる時のバツボタン */
.hamburger.active span:nth-child(1) {
  width: 30px;
  width: 1.875rem;
  top: 16px;
  left: 6px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
  width: 30px;
  width: 1.875rem;
  top: 16px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.heading {
  color: #8B6C3A;
  font-weight: 600;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 2rem;
    line-height: 1.5;
    letter-spacing: 0.1em;
  }
}

.l-inner {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  max-width: 500px;
}

@media screen and (min-width: 768px) {
  .l-inner {
    max-width: 1110px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

@media screen and (min-width: 768px) {
  .l-inner--slim {
    max-width: 930px;
  }
}

.l-inner--header {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .l-inner--header {
    max-width: 1110px;
  }
}

.sns__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sns__item {
  color: #fff;
}

.sns__item:not(:last-child) {
  margin-right: 24px;
  margin-right: 1.5rem;
}

.sns__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  width: 2.5rem;
  height: 40px;
  height: 2.5rem;
  border-radius: 50%;
  background: #393327;
}

.title {
  text-align: center;
}

.title__en {
  font-family: "Lora", serif;
  text-transform: uppercase;
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

@media screen and (min-width: 768px) {
  .title__en {
    font-size: 3.5rem;
    line-height: 1;
    letter-spacing: 0.08em;
  }
}

.title__ja {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

@media screen and (min-width: 768px) {
  .title__ja {
    margin-top: 2.5rem;
    font-size: 1rem;
    line-height: 1;
  }
}

.title--left {
  text-align: left;
}

@media screen and (min-width: 768px) {
  .title--left {
    white-space: nowrap;
  }
  .title--left .title__en {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .title--left .title__en::after {
    margin-left: 2rem;
    border-top: 1px solid #393327;
    content: "";
    width: 100%;
  }
}

.access {
  padding-top: 56px;
  padding-top: 3.5rem;
  padding-bottom: 56px;
  padding-bottom: 3.5rem;
}

@media screen and (min-width: 768px) {
  .access {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.access__body {
  margin-top: 44px;
  margin-top: 2.75rem;
}

@media screen and (min-width: 768px) {
  .access__body {
    margin-top: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .access__content {
    width: 51%;
    font-size: 1rem;
    line-height: 1.8125;
    letter-spacing: 0.02em;
  }
}

.access__name {
  font-weight: 600;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1;
  letter-spacing: 0.1em;
}

@media screen and (min-width: 768px) {
  .access__name {
    font-size: 1.5rem;
  }
}

.access__name-ja {
  margin-top: 16px;
  margin-top: 1rem;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .access__name-ja {
    margin-top: 1.1875rem;
    font-size: 1rem;
    letter-spacing: 0.1em;
  }
}

.access__address {
  margin-top: 24px;
  margin-top: 1.5rem;
  line-height: 1.8;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .access__address {
    margin-top: 3.0625rem;
    letter-spacing: 0.1em;
  }
}

.access__station {
  margin-top: 16px;
  margin-top: 1rem;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .access__station {
    margin-top: 1.6875rem;
    letter-spacing: 0.1em;
  }
}

.access__tel {
  margin-top: 17px;
  margin-top: 1.0625rem;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .access__tel {
    margin-top: 1.6875rem;
    letter-spacing: 0.1em;
  }
}

.access__time {
  margin-top: 17px;
  margin-top: 1.0625rem;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .access__time {
    margin-top: 1.6875rem;
    letter-spacing: 0.1em;
  }
}

.access__map {
  margin: 2.5rem calc(50% - 50vw) 0;
  position: relative;
  width: 100vw;
  padding-top: 85%;
}

@media screen and (min-width: 768px) {
  .access__map {
    padding-top: 37%;
    width: 49%;
    margin: 0;
  }
}

.access__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.campaign {
  background-image: url(../images/campaign-bg-sp.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 56px;
  padding-top: 3.5rem;
  padding-bottom: 56px;
  padding-bottom: 3.5rem;
}

@media screen and (min-width: 768px) {
  .campaign {
    background-image: url(../images/campaign-bg-pc.jpg);
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.campaign__box {
  background: #fff;
  border: 1px solid #8B6C3A;
  padding: 38px 10px 43px;
  padding: 2.375rem 0.625rem 2.6875rem;
}

@media screen and (min-width: 768px) {
  .campaign__box {
    padding: 4rem 5.5625rem;
  }
}

.campaign__title {
  color: #8B6C3A;
  font-weight: 600;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1;
  letter-spacing: 0.05em;
  padding: 17px 0;
  padding: 1.0625rem 0;
  text-align: center;
  border-top: 1px solid #8B6C3A;
  border-bottom: 1px solid #8B6C3A;
}

@media screen and (min-width: 768px) {
  .campaign__title {
    font-size: 2.5rem;
    letter-spacing: 0.15em;
    padding: 1.6875rem 0;
  }
}

.campaign__content {
  padding: 78px 47px 0;
  padding: 4.875rem 2.9375rem 0;
  position: relative;
}

@media screen and (min-width: 768px) {
  .campaign__content {
    padding: 7rem 8.75rem 0;
  }
}

.campaign__note {
  display: inline-block;
  position: absolute;
  content: "";
  top: 24px;
  top: 1.5rem;
  right: 10px;
  right: 0.625rem;
  color: #8B6C3A;
  padding: 7px 10px;
  padding: 0.4375rem 0.625rem;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1;
  letter-spacing: 0.05em;
  z-index: 1;
  color: #8B6C3A;
}

@media screen and (min-width: 768px) {
  .campaign__note {
    top: 2.875rem;
    right: 6.75rem;
    padding: 0.9375rem 1.5625rem;
    font-size: 1.5rem;
    letter-spacing: 0.1em;
  }
}

.campaign__note span::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #8B6C3A;
  -webkit-transform: skewX(-9deg);
          transform: skewX(-9deg);
  z-index: -1;
}

.campaign__note::before {
  content: '';
  position: absolute;
  display: block;
  z-index: 1;
  border-style: solid;
  border-color: #fff transparent;
  border-width: 13px 15px 0 0;
  bottom: -12px;
  bottom: -0.75rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.campaign__note::after {
  content: '';
  position: absolute;
  display: block;
  z-index: 0;
  border-style: solid;
  border-color: #8B6C3A transparent;
  border-width: 13px 15px 0 0;
  bottom: -12px;
  bottom: -0.75rem;
  left: 50%;
  -webkit-transform: translateX(-41%);
          transform: translateX(-41%);
}

.campaign__heading {
  letter-spacing: 0.15em;
}

@media screen and (min-width: 768px) {
  .campaign__heading {
    font-size: 1.75rem;
  }
}

.campaign__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  .campaign__price {
    margin-top: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.campaign__before {
  letter-spacing: 0.05em;
  position: relative;
  margin-right: 56px;
  margin-right: 3.5rem;
}

@media screen and (min-width: 768px) {
  .campaign__before {
    line-height: 2;
    margin-right: 13.375rem;
    font-size: 1.5rem;
    white-space: nowrap;
  }
}

@media screen and (min-width: 768px) {
  .campaign__before span {
    display: inline-block;
  }
}

.campaign__before::after {
  position: absolute;
  content: "";
  background-image: url(../images/campaign-arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  width: 1.5rem;
  height: 26px;
  height: 1.625rem;
  right: -34px;
  right: -2.125rem;
}

@media screen and (min-width: 768px) {
  .campaign__before::after {
    width: 3.0625rem;
    height: 3.25rem;
    right: -10rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.campaign__before .strong {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .campaign__before .strong {
    font-size: 2.5rem;
    line-height: 1;
  }
}

.campaign__after {
  color: #8B6C3A;
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: -0.5em;
}

@media screen and (min-width: 768px) {
  .campaign__after {
    font-size: 4.5rem;
  }
}

.campaign__after .strong {
  font-size: 72px;
  font-size: 4.5rem;
}

@media screen and (min-width: 768px) {
  .campaign__after .strong {
    font-size: 10rem;
  }
}

.campaign__period {
  margin-top: 20px;
  margin-top: 1.25rem;
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .campaign__period {
    text-align: center;
    margin-top: 0.625rem;
    font-size: 1.25rem;
  }
}

.campaign__period .heading {
  display: inline-block;
  margin-bottom: 10px;
  margin-bottom: 0.625rem;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0.05em;
  padding: 3px 4px;
  padding: 0.1875rem 0.25rem;
  border: 1px solid #393327;
}

@media screen and (min-width: 768px) {
  .campaign__period .heading {
    margin-bottom: 0;
    margin-right: 1.25rem;
    font-size: 1.125rem;
    line-height: 1.33333;
    letter-spacing: 0.1em;
    padding: 0.5rem 1rem;
  }
}

.campaign__btn {
  margin-top: 32px;
  margin-top: 2rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .campaign__btn {
    margin-top: 3.25rem;
  }
}

.faq {
  padding-top: 61px;
  padding-top: 3.8125rem;
  padding-bottom: 31px;
  padding-bottom: 1.9375rem;
}

@media screen and (min-width: 768px) {
  .faq {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.faq__items {
  margin-top: 16px;
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  .faq__items {
    margin-top: 2.125rem;
  }
}

.faq__item {
  padding: 24px 0 24px 30px;
  padding: 1.5rem 0 1.5rem 1.875rem;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.8125;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .faq__item {
    padding: 2.625rem 2.3125rem 2.375rem 4.125rem;
    font-size: 1rem;
    line-height: 2;
  }
}

.faq__item + .faq__item {
  border-top: 1px solid #E8E8E8;
}

.faq__q {
  font-weight: 600;
  position: relative;
}

.faq__q::before,
.faq__a::before {
  position: absolute;
  left: -30px;
  left: -1.875rem;
  font-size: 20px;
  font-size: 1.25rem;
  font-family: "Lora", serif;
  line-height: 1;
}

@media screen and (min-width: 768px) {
  .faq__q::before,
  .faq__a::before {
    top: 0.5rem;
    left: -2.5rem;
  }
}

.faq__q::before {
  content: "Q";
  color: #8B6C3A;
}

.faq__a {
  margin-top: 11px;
  margin-top: 0.6875rem;
  position: relative;
}

@media screen and (min-width: 768px) {
  .faq__a {
    margin-top: 2.25rem;
  }
}

.faq__a::before {
  content: "A";
}

.feature {
  padding-top: 50px;
  padding-top: 3.125rem;
  padding-bottom: 56px;
  padding-bottom: 3.5rem;
}

@media screen and (min-width: 768px) {
  .feature {
    padding-top: 6.125rem;
    padding-bottom: 6rem;
  }
}

.feature__heading {
  position: relative;
  padding-bottom: 60px;
  padding-bottom: 3.75rem;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.6;
}

@media screen and (min-width: 768px) {
  .feature__heading {
    font-size: 2rem;
    padding-bottom: 5.3125rem;
    line-height: 2;
  }
}

.feature__heading::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-image: url(../images/feature-arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 43px;
  width: 2.6875rem;
  height: 22px;
  height: 1.375rem;
}

@media screen and (min-width: 768px) {
  .feature__heading::before {
    width: 5rem;
    height: 2.5625rem;
  }
}

.feature__title {
  margin-top: 32px;
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .feature__title {
    margin-top: 4.6875rem;
  }
}

.feature__items {
  margin-top: 40px;
  margin-top: 2.5rem;
}

@media screen and (min-width: 768px) {
  .feature__items {
    margin-top: 5rem;
  }
}

@media screen and (min-width: 768px) {
  .feature__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.feature__item:not(:last-child) {
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
}

@media screen and (min-width: 768px) {
  .feature__item:not(:last-child) {
    margin-bottom: 5rem;
  }
}

.feature__img {
  width: 100%;
  position: relative;
}

.feature__img::before {
  padding-top: 73.432%;
  display: block;
  content: "";
}

.feature__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media screen and (min-width: 768px) {
  .feature__img {
    width: 42.5%;
  }
}

.feature__content {
  margin-top: 20px;
  margin-top: 1.25rem;
}

@media screen and (min-width: 768px) {
  .feature__content {
    padding-left: 4.3125rem;
    width: 57.5%;
    margin-top: 0;
  }
}

.feature__sub-title {
  font-weight: 600;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.77778;
  letter-spacing: 0.05em;
  padding: 0 11px;
  padding: 0 0.6875rem;
  border-left: 1px solid #8B6C3A;
}

@media screen and (min-width: 768px) {
  .feature__sub-title {
    font-size: 1.75rem;
    line-height: 1.78571;
    letter-spacing: 0.1em;
    padding: 0 1.25rem;
  }
}

.feature__text {
  margin-top: 12px;
  margin-top: 0.75rem;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.8125;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .feature__text {
    letter-spacing: 0.05em;
    margin-top: 2rem;
    font-size: 1rem;
    line-height: 2;
  }
}

.flow {
  background: #FAFAFA;
  padding-top: 56px;
  padding-top: 3.5rem;
  padding-bottom: 56px;
  padding-bottom: 3.5rem;
}

@media screen and (min-width: 768px) {
  .flow {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.flow__items {
  margin-top: 40px;
  margin-top: 2.5rem;
}

@media screen and (min-width: 768px) {
  .flow__items {
    margin-top: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .flow__item {
    width: calc(33.33333% - 1.66667rem);
  }
}

.flow__item:not(:last-child) {
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
}

@media screen and (min-width: 768px) {
  .flow__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 5rem;
  }
}

.flow__img {
  width: 100%;
  position: relative;
}

.flow__img::before {
  padding-top: 100%;
  display: block;
  content: "";
}

.flow__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.flow__content {
  margin-top: 21px;
  margin-top: 1.3125rem;
}

.flow__step {
  text-transform: uppercase;
  color: #8B6C3A;
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: 0.1em;
}

.flow__sub-title {
  margin-top: 11px;
  margin-top: 0.6875rem;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 600;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

@media screen and (min-width: 768px) {
  .flow__sub-title {
    font-size: 1.375rem;
    line-height: 1;
    letter-spacing: 0.1em;
  }
}

.flow__text {
  margin-top: 8px;
  margin-top: 0.5rem;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.8125;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .flow__text {
    margin-top: 1.0625rem;
    line-height: 2;
    letter-spacing: 0.05em;
  }
}

.footer {
  background: #FAFAFA;
  padding-top: 32px;
  padding-top: 2rem;
  padding-bottom: 46px;
  padding-bottom: 2.875rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer {
    text-align: left;
    padding-top: 3rem;
    padding-bottom: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__logo img {
  width: 76px;
  width: 4.75rem;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .footer__logo img {
    width: 8.125rem;
  }
}

.footer__nav {
  margin-top: 20px;
  margin-top: 1.25rem;
}

@media screen and (min-width: 768px) {
  .footer__nav {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .footer__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}

@media screen and (min-width: 768px) {
  .footer__item + .footer__item {
    margin-left: 2rem;
  }
}

.footer__item a {
  display: inline-block;
  width: 100%;
  padding: 12px 0;
  padding: 0.75rem 0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

@media screen and (min-width: 768px) {
  .footer__item a {
    padding: 0;
    font-size: 0.875rem;
  }
}

.footer__sns {
  margin: 20px auto 0;
  margin: 1.25rem auto 0;
  width: 100%;
  max-width: 168px;
  max-width: 10.5rem;
}

@media screen and (min-width: 768px) {
  .footer__sns {
    margin-right: 0;
    margin-top: 1.8125rem;
  }
}

.footer__bottom {
  margin-top: 40px;
  margin-top: 2.5rem;
}

@media screen and (min-width: 768px) {
  .footer__bottom {
    margin-top: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer__text {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .footer__text {
    letter-spacing: 0.1em;
  }
}

.footer__copyright {
  display: inline-block;
  margin-top: 40px;
  margin-top: 2.5rem;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

@media screen and (min-width: 768px) {
  .footer__copyright {
    margin-top: 0;
  }
}

.header {
  position: fixed;
  width: 100%;
  background: #fff;
  height: 68px;
  height: 4.25rem;
  z-index: 10;
}

@media screen and (min-width: 768px) {
  .header {
    height: 7.5rem;
  }
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav {
  height: inherit;
}

.header__items {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item {
  height: inherit;
}

.header__item + .header__item {
  margin-left: 31px;
  margin-left: 1.9375rem;
}

.header__item a {
  display: inline-block;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  font-size: 0.9375rem;
  font-family: "Lora", serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .header__item a:hover {
    opacity: 1;
    color: #8B6C3A;
  }
}

.header__logo {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 76px;
  max-width: 4.75rem;
}

@media screen and (min-width: 768px) {
  .header__logo {
    max-width: 8.125rem;
    margin: 0 1.125rem;
  }
}

.header__btn {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
  margin-right: 3.125rem;
}

@media screen and (min-width: 768px) {
  .header__btn {
    margin-left: 3.5625rem;
    margin-right: 0;
  }
}

.member-voice {
  background-image: url(../images/voice-bg-sp.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 139px;
  padding-top: 8.6875rem;
  padding-bottom: 56px;
  padding-bottom: 3.5rem;
  margin-top: -80px;
  margin-top: -5rem;
}

@media screen and (min-width: 768px) {
  .member-voice {
    padding-top: 11.0625rem;
    padding-bottom: 6rem;
    background-image: url(../images/voice-bg.jpg);
  }
}

.member-voice__items {
  margin-top: 40px;
  margin-top: 2.5rem;
}

@media screen and (min-width: 768px) {
  .member-voice__items {
    margin-top: 5rem;
  }
}

@media screen and (min-width: 768px) {
  .member-voice__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .member-voice__item:nth-child(2n) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.member-voice__item:not(:last-child) {
  margin-bottom: 37px;
  margin-bottom: 2.3125rem;
}

@media screen and (min-width: 768px) {
  .member-voice__item:not(:last-child) {
    margin-bottom: 5rem;
  }
}

.member-voice__img {
  width: 100%;
  position: relative;
}

.member-voice__img::before {
  padding-top: 75.5223%;
  display: block;
  content: "";
}

.member-voice__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media screen and (min-width: 768px) {
  .member-voice__img {
    width: 42.5%;
  }
}

.member-voice__content {
  margin-top: 20px;
  margin-top: 1.25rem;
}

@media screen and (min-width: 768px) {
  .member-voice__content {
    width: 57.5%;
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .member-voice__item:nth-child(2n) .member-voice__content {
    padding-right: 3.5625rem;
  }
}

@media screen and (min-width: 768px) {
  .member-voice__item:nth-child(2n + 1) .member-voice__content {
    padding-left: 4.4375rem;
  }
}

.member-voice__sub-title {
  font-weight: 600;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: #8B6C3A;
}

@media screen and (min-width: 768px) {
  .member-voice__sub-title {
    font-size: 1.5rem;
    letter-spacing: 0.1em;
    line-height: 1.5;
  }
}

.member-voice__info {
  margin-top: 12px;
  margin-top: 0.75rem;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

@media screen and (min-width: 768px) {
  .member-voice__info {
    margin-top: 1.25rem;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.05em;
  }
}

.member-voice__text {
  margin-top: 12px;
  margin-top: 0.75rem;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.8125;
  letter-spacing: 0.04em;
}

@media screen and (min-width: 768px) {
  .member-voice__text {
    margin-top: 1.5rem;
    font-size: 1rem;
    line-height: 2;
    letter-spacing: 0.05em;
  }
}

.message {
  margin-bottom: 80px;
  margin-bottom: 5rem;
}

@media screen and (min-width: 768px) {
  .message {
    margin-bottom: 6rem;
  }
}

.message__box {
  border: 1px solid #8B6C3A;
  padding: 24px 19px;
  padding: 1.5rem 1.1875rem;
}

@media screen and (min-width: 768px) {
  .message__box {
    padding: 3.375rem 5.5625rem 3.9375rem;
  }
}

.message__heading {
  font-family: "Allura", cursive;
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: 0.1em;
  color: #8B6C3A;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .message__heading {
    font-size: 3.5rem;
  }
}

.message__text {
  margin-top: 13px;
  margin-top: 0.8125rem;
  line-height: 1.8125;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .message__text {
    margin-top: 1.9375rem;
    line-height: 2;
  }
}

.mv {
  background-image: url(../images/mv-bg-sp.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 68px;
  padding-top: 4.25rem;
}

@media screen and (min-width: 768px) {
  .mv {
    padding-top: 7.5rem;
    background-image: url(../images/mv-bg.jpg);
  }
}

.mv__content {
  padding-top: 40px;
  padding-top: 2.5rem;
  padding-bottom: 400px;
  padding-bottom: 25rem;
  text-align: center;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .mv__content {
    padding-top: 14rem;
    padding-bottom: 17rem;
    text-align: left;
  }
}

.mv__main {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

@media screen and (min-width: 768px) {
  .mv__main {
    font-size: 2rem;
    line-height: 1.47;
  }
}

.mv__main .strong {
  font-size: 24px;
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .mv__main .strong {
    font-size: 2.5rem;
  }
}

.mv__main .small {
  font-size: 20px;
  font-size: 1.25rem;
}

@media screen and (min-width: 768px) {
  .mv__main .small {
    font-size: 2rem;
  }
}

.mv__lead {
  margin-top: 12px;
  margin-top: 0.75rem;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .mv__lead {
    margin-top: 2rem;
    font-size: 1.375rem;
    line-height: 1.5;
  }
}

.price {
  background-image: url(../images/price-bg-sp.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 56px;
  padding-top: 3.5rem;
  padding-bottom: 56px;
  padding-bottom: 3.5rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .price {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.price__price {
  margin-top: 40px;
  margin-top: 2.5rem;
  text-align: center;
}

.price__price img {
  margin: 0 auto;
  max-width: 260px;
  max-width: 16.25rem;
}

@media screen and (min-width: 768px) {
  .price__price {
    margin-top: 5.625rem;
  }
  .price__price img {
    max-width: 28.125rem;
  }
}

.price__main {
  margin-top: 37px;
  margin-top: 2.3125rem;
  color: #8B6C3A;
  font-weight: 600;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.33333;
  letter-spacing: 0.1em;
}

@media screen and (min-width: 768px) {
  .price__main {
    margin-top: 2.25rem;
    font-size: 1.5rem;
    line-height: 1.5;
  }
}

.price__sub {
  margin-top: 8px;
  margin-top: 0.5rem;
  color: #8B6C3A;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

@media screen and (min-width: 768px) {
  .price__sub {
    margin-top: 2rem;
    font-size: 1rem;
    line-height: 1.33333;
  }
}

.price__notes {
  margin-top: 33px;
  margin-top: 2.0625rem;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.6875;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .price__notes {
    margin-top: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
  }
}

.problem {
  background: #FAFAFA;
}

@media screen and (min-width: 768px) {
  .problem {
    background-image: url(../images/depressed-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.problem__body {
  padding-top: 40px;
  padding-top: 2.5rem;
  padding-bottom: 56px;
  padding-bottom: 3.5rem;
}

@media screen and (min-width: 768px) {
  .problem__body {
    padding-top: 6.125rem;
    padding-bottom: 6rem;
  }
}

.problem__heading {
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 0.05em;
}

@media screen and (min-width: 768px) {
  .problem__heading {
    font-size: 1.5rem;
  }
}

.problem__items {
  margin-top: 24px;
  margin-top: 1.5rem;
}

@media screen and (min-width: 768px) {
  .problem__items {
    margin-top: 2rem;
  }
}

.problem__item {
  position: relative;
  padding-left: 32px;
  padding-left: 2rem;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .problem__item {
    font-size: 1.125rem;
    letter-spacing: 0.05em;
  }
}

.problem__item:not(:last-child) {
  margin-bottom: 10px;
  margin-bottom: 0.625rem;
}

@media screen and (min-width: 768px) {
  .problem__item:not(:last-child) {
    margin-bottom: 1.3125rem;
  }
}

.problem__item::before {
  position: absolute;
  content: "";
  width: 24px;
  width: 1.5rem;
  height: 24px;
  height: 1.5rem;
  left: 0;
  top: 0;
  background-image: url(../images/ph_check-square-offset-thin.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.profile {
  padding-top: 96px;
  padding-top: 6rem;
  padding-bottom: 48px;
  padding-bottom: 3rem;
}

@media screen and (min-width: 768px) {
  .profile {
    padding-top: 12rem;
    padding-bottom: 5rem;
  }
}

.profile__body {
  margin-top: 40px;
  margin-top: 2.5rem;
}

@media screen and (min-width: 768px) {
  .profile__body {
    margin-top: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.profile__img {
  width: 100%;
  position: relative;
}

.profile__img::before {
  padding-top: 100%;
  display: block;
  content: "";
}

.profile__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media screen and (min-width: 768px) {
  .profile__img {
    width: 22.5rem;
  }
}

.profile__content {
  margin-top: 32px;
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .profile__content {
    margin-top: 0;
    margin-left: 5.625rem;
    width: calc(100% - 28.125rem);
  }
}

.profile__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile__name {
  font-weight: 600;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: 0.1em;
}

.profile__text {
  margin-top: 24px;
  margin-top: 1.5rem;
  line-height: 1.8125;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .profile__text {
    margin-top: 2rem;
    line-height: 2;
    letter-spacing: 0.05em;
  }
}

.voice {
  padding-top: 56px;
  padding-top: 3.5rem;
}

@media screen and (min-width: 768px) {
  .voice {
    padding-top: 6rem;
  }
}

.voice__items {
  margin-top: 40px;
  margin-top: 2.5rem;
}

@media screen and (min-width: 768px) {
  .voice__items {
    margin-top: 5rem;
  }
}

@media screen and (min-width: 768px) {
  .voice__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.voice__item:not(:last-child) {
  margin-bottom: 41px;
  margin-bottom: 2.5625rem;
}

@media screen and (min-width: 768px) {
  .voice__item:not(:last-child) {
    margin-bottom: 5rem;
  }
}

@media screen and (min-width: 768px) {
  .voice__item:nth-child(2n + 1) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.voice__img {
  width: 100%;
  position: relative;
}

.voice__img::before {
  padding-top: 66.8656%;
  display: block;
  content: "";
}

.voice__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media screen and (min-width: 768px) {
  .voice__img {
    width: 28.125rem;
  }
}

.voice__content {
  margin-top: 24px;
  margin-top: 1.5rem;
}

@media screen and (min-width: 768px) {
  .voice__content {
    width: calc(100% - 34.0625rem);
  }
}

.voice__title {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

@media screen and (min-width: 768px) {
  .voice__title {
    margin-top: -1.3125rem;
    font-size: 1.5rem;
    line-height: 1.5;
    letter-spacing: 0.1em;
  }
}

.voice__text {
  margin-top: 9px;
  margin-top: 0.5625rem;
  line-height: 1.8125;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .voice__text {
    margin-top: 1.25rem;
    line-height: 2;
    letter-spacing: 0.05em;
  }
}

.voice__info {
  margin-top: 11px;
  margin-top: 0.6875rem;
  font-size: 14px;
  font-size: 0.875rem;
  letter-spacing: 0.05em;
}

@media screen and (min-width: 768px) {
  .voice__info {
    text-align: right;
    margin-top: 1.0625rem;
    font-size: 1rem;
  }
}
