/* FontFamily */

$base-font-family: 'YuMincho',
'Yu Mincho',
'游明朝体',
'ヒラギノ明朝 ProN',
'Hiragino Mincho ProN',
sans-serif;
$second-font-family: 'Lora',
serif;
$third-font-family: 'Allura',
cursive;
body {
    font-family: $base-font-family;
}


/* font-weight */

$regular: 300;
$normal: 400;
$bold: 700;